#root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  background: #fafafa;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.title-container{
  width: 100%;
  border-bottom: .2rem solid black;
}
.title{
  display: flex;
  margin: 1rem;
  justify-content: center;
}
.crono-container{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 3rem;
}
